<div class="site-header-container">
  <div class="container">
    <div class="row">
      <div class="twelve">
        <header class="site-header">
          <nav class="site-nav">
            <div></div>
            <div></div>
          </nav>
          <nav class="social-nav">
            {% if site.github_username %}
              <div class="social-icon">
                {% include icon-github.html username=site.github_username %}
              </div>
            {% endif %}
            {% if site.gitlab_username %}
              <div class="social-icon">
                  {% include icon-gitlab.html username=site.gitlab_username %}
              </div>
            {% endif %}
            {% if site.linkedin_username %}
              <div class="social-icon">
                {% include icon-linkedin.html username=site.linkedin_username %}
              </div>
            {% endif %}
          </nav>
        </header>
      </div>
    </div>
  </div>
</div>
